<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>chartly</title>
  <meta name="description" content="Prototype of TASKR: a todo-list">
  <meta name="author" content="Jason Chen">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/page.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

</head>
<!-- Body
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>  
  <div class = "red full">
    <!-- 1st step -->
    <div id = "bar1">
      <!-- nav bar -->
      <div class = "row top centered">
        <a class = "left" id="backButton" href="menu.html">&#60; back</a>
        <div class = "white-text logo" >bar chart</div>
        <a class = "right" id="backButton" href="../index.html" style="visibility:hidden;">&#60; back</a>
      </div>
      <!--body-->
      <div class = "container steps" >
      <div class = "row header">
        <h5 class = "white-text mainText title">Name your chart</h5>
        <p class = "subText white-text"></p>
      </div>
      <div class= "row">
        <div class = "twelve columns">
          <input type = "text" class = "u-full-width" placeholder="enter name" id = "chartName">
        </div>
      </div>
      <a class="button secondary right next" onClick = " getName();">Next &#62;&#62;</a>
        <div class="row" id = "progressWrap">
        <ul id="progress">
        <li class = "current"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
      </div>
     </div>
    </div>

    <!-- 2nd step -->
    <div class= "hidden" id = "bar2">
      <div class = "row top centered">
        <a class = "left" id="backButton" onClick="prevPage('bar2', 'bar1')">&#60; back</a>
        <div class = "white-text logo" >bar chart</div>
        <a class = "right" id="backButton" href="../index.html" style="visibility:hidden;">&#60; back</a>
      </div>
      <div class = "container steps" >
      <div class = "row header">
        <h5 class = "white-text mainText title">Data Range (y)</h5>
        <p class = "subText white-text">The range for your y axis</p>
      </div>
      <div class = "row label">
        <img src = "../img/barYlabel.png"/>
      </div>
      <div class= "row">
        <div class = "twelve columns">
          <input type = "text" class = "u-full-width" placeholder="max value" id = "maxY">
        </div>
        <div class = "twelve columns">
          <p class = "white-text">to</p>
        </div>
        <div class = "twelve columns">
          <input type = "text" class = "u-full-width" placeholder="min value" id = "minY">
        </div>
      </div>
      <a class="button secondary right next" onClick = "getRange()">Next &#62;&#62;</a>
       <div class="row" id = "progressWrap">
        <ul id="progress">
        <li class = "current"></li>
        <li class = "current"></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
      </div>
      </div>
    </div>

    <!-- 3rd step -->
    <div class= "hidden" id = "bar3">
      <div class = "row top centered">
        <a class = "left" id="backButton" onClick="prevPage('bar3', 'bar2')">&#60; back</a>
        <div class = "white-text logo" >bar chart</div>
        <a class = "right" id="backButton" href="../index.html" style="visibility:hidden;">&#60; back</a>
      </div>
      <div class = "container steps" >
      <div class = "row header">
        <h5 class = "white-text mainText title">Data Range (x)</h5>
        <p class = "subText white-text">The range for your x axis</p>
      </div>
      <div class = "row label">
        <img src = "../img/barXlabel.png"/>
      </div>
      <div id = "labels">
        <div class= "row" id = "specialCols">
          <div class = "nine columns">
            <input type = "text" class = "u-full-width" placeholder="label 1" id = "xLabel1">
          </div>
          <div class = "two columns">
            <input type=color value="#03A9F4" id="color1">
          </div>
          <div class = "one column">&nbsp;
          </div>
        </div>
        <div class = "row" id = "extraLabels">
        </div>
        <div class = "row">
          <div class = "addLabel" onClick = "addXlabel()">+ add label</div>
        </div>
      </div>

      <a class="button secondary right next" onClick = "getLabels();">Next &#62;&#62;</a>
             <div class="row" id = "progressWrap">
        <ul id="progress">
        <li class = "current"></li>
        <li class = "current"></li>
        <li class = "current"></li>
        <li></li>
        <li></li>
        </ul>
      </div>
      </div>
    </div>

        <!-- 4rd step -->
    <div class= "hidden" id = "bar4">
      <div class = "row top centered">
        <a class = "left" id="backButton" onClick="prevPage('bar4', 'bar3')">&#60; back</a>
        <div class = "white-text logo" >bar chart</div>
        <a class = "right" id="backButton" href="../index.html" style="visibility:hidden;">&#60; back</a>
      </div>
      <div class = "container steps" >
      <div class = "row header">
        <h5 class = "white-text mainText title">Bar Borders</h5>
        <p class = "subText white-text">Stylize your bars if you'd like</p>
      </div>
      <div class = "row white-text" id = "borderStyle">
          <div class = "row">
            <div class = "one-half column">
              <!-- it's impossible to stylize radio buttons -->
              <input type="radio" class = "square-radio" name="borderCheck" onClick = "borderSlider()">
              <span class="label-body">Yes - I want borders</span>
            </div>
            <div class = "one-half column">
              <input type="radio" class = "square-radio" name="borderCheck" onClick = "removeBorderSlider()">
              <span class="label-body">Nah - I don't want borders</span>
            </div>
          </div>

        <br><br><br>
       </div>

      <a class="button secondary right next" onClick = "nextPage('bar4', 'bar5')">Next &#62;&#62;</a>
             <div class="row" id = "progressWrap">
        <ul id="progress">
        <li class = "current"></li>
        <li class = "current"></li>
        <li class = "current"></li>
        <li class = "current"></li>
        <li></li>
        </ul>
      </div>
      </div>
    </div>
      
  </div>
  <footer class = "white">

    <div >
      FOR EDUCATIONAL PURPOSES ONLY<br>
      &#169; 2016 All Rights Reserved<br>
      powered by <a class = "portfolio" href = "http://jason-chen.net">Jason</a><br>
    </div>
  </footer>

</body>
<!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

<script data-main="../js/main" src="../js/require.js"></script>

</html>