<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>chartly</title>
  <meta name="description" content="Prototype of TASKR: a todo-list">
  <meta name="author" content="Jason Chen">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/page.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

</head>
<!-- Body
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
  <div class = "red full">
    <!-- nav bar -->
    <div class = "row top centered">
      <a class = "left" id="backButton" href="../index.html">&#60; back</a>
      <div class = "white-text logo" >chartly</div>
      <a class = "right" id="backButton" href="../index.html" style="visibility:hidden;">&#60; back</a>

    </div>
    <!--body-->
    <div class = "container">
      <div class = "row">
        <h5 class = "white-text title">Create charts for a proof of concept - without collecting data</h5>
      </div>
      <div class = "row white-text">
        Whether you're trying to make a data visualization prototype and you don't want to collect/make up user data and design your own chart or just need a chart quick and easy. Chartly can provide you a <b>customizable</b> graphic.<br><br>
        Chartly has <b>four</b> basic options (more coming).<br><br>
        <b>Bar</b> Chart - for displaying data side by side as bars <br>
        <b>Line</b> Chart - for plotting data points on a line<br>
        <b>Radar</b> Chart - for showing mutliple data points &amp; variation.<br>
        <b>Pie</b> Chart - for showing proportions of data<br><br><br>
        <h5>chartly is made to be quick and easy</h5>
      </div>
      <a class = "button spaced-1 right" href="menu.html" id="startButton">GET STARTED>></a>
    </div>
  </div>

    <!-- Footer
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class = "white">
    <div >
      FOR EDUCATIONAL PURPOSES ONLY<br>
      &#169; 2016 All Rights Reserved<br>
      powered by <a class = "portfolio" href = "http://jason-chen.net">Jason</a><br>
    </div>
  </footer>

</body>
<!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script data-main="../js/main" src="../js/require.js"></script>
</html>