<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>chartly</title>
  <meta name="description" content="Prototype of TASKR: a todo-list">
  <meta name="author" content="Jason Chen">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/page.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

</head>
<!-- Body
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>  
  <div class = "red full">
    <!-- nav bar -->
    <div class = "row top centered">
       <a class = "button left" id = "help" href="help.html" style="visibility:hidden;">help</a>

      <div class = "white-text logo" >chartly</div>
      <a class = "button right" id = "help" href="help.html">help</a>
    </div>
    <!--body-->
    <div class = "container" id="menu">
      <div class = "row header">
        <h5 class = "white-text mainText title">Pick your chart</h5>
        <p class = "subText white-text">How do you want to display your data?</p>
      </div>
      <div class = "row white-text">
        <a href="line.html"><div class = "one-half column centered boxIcon yellow"><img src = "../img/line.png"/><p class="description white-text;">Line chart</p></div></a>
        <a href="bar.html"><div class = "one-half column centered boxIcon green"><img src = "../img/bar.png"/><p class="description white-text;">Bar chart</p></div></a>
      </div>
      <div class = "row white-text">
        <a href="radial.html"><div class = "one-half column centered boxIcon blue"><img src = "../img/radialLabel.png"/><p class="description white-text;">Radial chart</p></div></a>
        <a href="pie.html"><div class = "one-half column centered boxIcon white"><img src = "../img/pieRed.png"/><p class="description white-text;">Pie chart</p></div></a>
      </div>
    </div>
  </div>
  <footer class = "white">
    <div >
      FOR EDUCATIONAL PURPOSES ONLY<br>
      &#169; 2016 All Rights Reserved<br>
      powered by <a class = "portfolio" href = "http://jason-chen.net">Jason</a><br>
    </div>
  </footer>

</body>
<!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

</html>